# bump2version minor   --dry-run --allow-dirty --verbose
# -> Bump version: 5,2,1 → 5,3,pre0

[bumpversion]
current_version = 5.2.1
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)(\.(?P<patch>\d+)(\.(?P<release>a|alpha|b|beta|d|dev|rc|)(?P<internal>\d+))?)?
serialize =
	{major}.{minor}.{patch}.{release}{internal}
	{major}.{minor}.{release}{internal}
	{major}.{minor}.{patch}.{internal}
	{major}.{minor}.{patch}
	{major}.{minor}

# https://stackoverflow.com/a/65228361/3423324
[bumpversion:part:release]
optional_value = _
values =
    pre
    _
    post


[bumpversion:file:pytgbot/__init__.py]

[bumpversion:file:setup.py]

[bumpversion:file:README.md]
